# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Environments
.env
venv/
ENV/
*.env

# IDEs/editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific
.DS_Store
Thumbs.db

# Migrations (optional to ignore if you regenerate often)
*/migrations/__pycache__/
*/migrations/*.pyc
